//
//  Created by wddwycc on 2018/3/7.
//  2018 Copyright (c) RxSwiftCommunity. All rights reserved.
//

{{ if_os }}

{% if need_uikit %}import UIKit{%- endif %}
import RxSwift
import RxCocoa


public extension Reactive where Base: {{ cls }} {
{% for name, type in attrs.items() %}
    /// Bindable sink for `{{ name }}` property
    public var {{ name }}: Binder<{{ type }}> {
        return Binder(self.base) { view, attr in
{%- if type in animatable_cls %}
            UIView.animate(withDuration: 0.3, animations: {
                view.{{ name }} = attr
            })
{%- else %}
            view.{{ name }} = attr
{%- endif %}
        }
    }
{% endfor %}
}
#endif
