//
//  Created by duan on 2018/3/7.
//  2018 Copyright (c) RxSwiftCommunity. All rights reserved.
//

{{ if_os }}

{% if need_uikit %}import UIKit{%- endif %}
import RxSwift
import RxCocoa


public extension ThemeProxy where Base: {{ cls }} {
{% for name, type in attrs.items() %}
    /// (set only) bind a stream to {{ name }}
    var {{ name }}: ThemeSignal<{{ type }}> {
        @available(*, unavailable)
        get { fatalError("Should use set only") }
        set {
            let disposable = newValue.bind(to: base.theme.binder(\.{{ name }}))
            hold(disposable, for: "{{ name }}")
        }
    }
{% endfor %}
}
#endif
